nav .navbar-brand, .nav-link {
    color: black;
}

.nav-link:hover{
    color:#ff3b3c;
}

body {
    height: 100%;
    font-size: 1.3rem;
}

.sky {
    background: #cceaf4;
}

.carbon {
    background: #a9a9a9;
}

.watermelon {
    background: #ff3b3c;
}

.neutral {
    background: #efefef;
}

#external a {
    width: 10rem;
}

#skills span {
    color: #ff3b3c;
}

#projects li {
    margin-left : 10px;
}

#projects h4 {
    margin-left: 10px;
}