<%- include ('partials/header') %>
<div class="container">
<h1> New movie </h1>


<form action="/videos" method="POST">

<div class="form-group">
	<input type="text" name="title" class="form-control" placeholder="title">
</div>
 <div class="form-group">
	<input type="text" name="genre" class="form-control" placeholder="genre">
</div>
<div class="form-group">
	<input type="text" name="image" class="form-control" placeholder="image name">
</div>
 <div class="form-group">
	<textarea name="desc" class="form-control" placeholder="description"></textarea>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-info" >Save</button>
</div>


</form>

<a href="/">Cancel</a>

</div>

<%- include ('partials/footer') %>